/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 Apr 2025, 11:39:45 AM
    Author     : Ahmad
*/

header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 50px;           
  width: auto;
  object-fit: contain;
  margin-right: 0.5rem;
      border-radius: 61%;

}

.logo h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #333;          
  margin: 0;
}


nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav ul li a:hover {
  color: #007bff;
}
